.general-tab
  font-weight 500
  font-size 15px
  .visual-data
    margin 20px 20px
    .champion-image
      width 80px
      height 80px
      margin-right 10px
      float left
      border-radius 2px
    .summoner-spell
      width 40px
      height 40px
    .summoner-keystone
      display block
      width 40px
      height 40px
  .info-data
    margin 20px
    clear both
  .wins-loses, .kills, .deaths, .assists, .cs
    .orig-num
      margin-right 10px
  .per-game
    font-size 12px
    font-weight 300
