.search-page
  position absolute
  overflow scroll
  top 0
  left 0
  width 100%
  height 100%
  background linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('http://img12.deviantart.net/967b/i/2014/022/4/1/season_4__glhf__by_su_ke-d73ck1t.jpg');
  background-size cover
  .container
    position relative
    top 160px
  h1
    font-size 52px
    font-weight 700
    text-transform uppercase
    margin 0
  h3
    font-weight 400
    margin 0
    margin-bottom 10px
    font-size 14px
    color #777
  #search-summoner
  .form-group
    margin-bottom 0
  .form-control
    border-radius 6px 6px 0 0
  .search-btn
    border-radius 0 0 6px 6px
    text-transform uppercase
  .second-col
    color #777
    .pull-left
      margin-right 7px
      .btn
        margin-top 0
        text-transform uppercase
    p
      font-size 13px
      margin-top 8px

@media (max-width: 768px)
  .search-page .main-col h1
    font-size 26px
