
body
  font-size 14px
  letter-spacing 1px

img
  max-width 100%
  vertical-align top

.col-xs-15
  width 20%
  float left

@media (min-width: 768px)
  .col-sm-15
    width 20%
    float left



@media (min-width: 992px)
  .col-md-15
    width 20%
    float left

@media (min-width: 1200px)
  .col-lg-15
    width 20%
    float left

.search-page
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color blue
  .main-col
    position relative
    top 160px
  h1
    font-size 52px
    font-weight 700
    text-transform uppercase
    margin 0
  h3
    font-weight 400
    margin 0
    margin-bottom 10px
    font-size 18px
    color #777
  #search-summoner
  .form-group
    margin-bottom 0
  .form-control
    border-radius 6px 6px 0 0
  .btn
    border-radius 0 0 6px 6px
    text-transform uppercase

@media (max-width: 768px)
  .search-page .main-col h1
    font-size 26px

.player
  margin 2.5px 5px
  height 360px
  border-radius 4px
  overflow hidden

.top-section
  .btn
    padding 0px

.panel-heading
  padding 5px
  .panel-title
    cursor pointer


.panel-group .panel+.panel
  margin-top 0px
  margin-bottom 0px

.panel-group .panel
  border-radius 0px
  max-height 300px
  overflow hidden

.panel-body
  height 260px
  padding 0

.tab
  position relative
  width 100%
  height 100%
  background-color #fff


.team-container
  padding 10px 5px 0

.team-container-100
  background-color rgba(0, 0, 255, 0.2)

.team-container-200
  background-color rgba(255, 0, 0, 0.2)

.general-tab
  font-weight 500
  font-size 15px
  .visual-data
    margin 20px 20px
    .champion-image
      width 80px
      height 80px
      margin-right 10px
      float left
      border-radius 2px
    .summoner-spell
      width 40px
      height 40px
    .summoner-keystone
      display block
      width 40px
      height 40px

  .info-data
    margin 20px
    clear both


.runes-tab
  overflow scroll
  .marks, .glyphs, .seals, .quints
    p
      padding 5px
      margin-bottom 0
      color #000
  .rune
    font-size 14px
    background-color #fff
    border-bottom 1px solid #eee
    .count
      font-size 16px
      padding 0 10px 0 5px
      margin-right 5px
      border-right 1px solid #ccc
    .description
      padding-left 10px
  .marks p
    background-color rgba(255, 0, 0, 0.5)
  .glyphs p
    background-color rgba(0, 0, 255, 0.5)
  .seals p
    background-color rgba(255, 255, 0, 0.5)
  .quints p
    background-color rgba(255, 165, 0, 0.5)



.masteries-tab
  .masteries-tree
    font-size 12px
    width 33%
    height 100%
    float left
    &:last-child
      width 34%

.mrow
  content: ""
  display: table
  clear: both
  display block
  .m
    position relative
    width 33%
    min-height 32px
    float left
    -moz-box-shadow inset 0 0 4px #000000
    -webkit-box-shadow inset 0 0 4px #000000
    box-shadow inset 0 0 4px #000000
    img
      position absolute
      width 100%
      height 100%
      opacity 0.75
    .number-overlay
      position absolute
      width 100%
      height 100%
      opacity 1.0
      font-size 20px
      font-weight 300
      text-shadow 2px 2px 2px #000
      text-align center
      color yellow
      padding-top 2px


.general-tab
  .wins-loses, .kills, .deaths, .assists, .cs
    .orig-num
      margin-right 10px
  .per-game
    font-size 12px
    font-weight 300
