
body
  font-size 14px
  letter-spacing 1px

img
  max-width 100%
  vertical-align top

.col-xs-15
  width 20%;
  float left;

@media (min-width: 768px)
  .col-sm-15
    width 20%
    float left

@media (min-width: 992px)
  .col-md-15
    width 20%
    float left

@media (min-width: 1200px)
  .col-lg-15
    width 20%
    float left

.player
  margin 5px
  height 360px
  border-radius 4px
  overflow hidden

.middle-sect
  margin 5px
  height 20px
  border 1px solid blue


.panel-heading
  padding 5px

.panel-group .panel+.panel
  margin-top 0px

.panel-group .panel
  border-radius 0px
  max-height 300px
  overflow hidden

.panel-body
  height 300px
  padding 0

.tab
  position relative
  width 100%
  height 100%
  background-color #fff
  background-size cover
  background-position center
  font-weight 600



.general-tab
  .visual-data
    margin 20px 20px
    .champion-image
      width 80px
      height 80px
      margin-right 10px
      float left
    .summoner-spell
      width 40px
      height 40px
    .summoner-keystone
      display block
      width 40px
      height 40px

  .info-data
    margin 20px
    clear both


.runes-tab
  .rune
    position relative
    margin 10px
    div
      font-size 8px
      font-weight 300
    img
      width 75%
      height 75%
