
.col-xs-15
  width 20%;
  float left;

@media (min-width: 768px)
  .col-sm-15
    width 20%
    float left

@media (min-width: 992px)
  .col-md-15
    width 20%
    float left

@media (min-width: 1200px)
  .col-lg-15
    width 20%
    float left


body
  color red


.player
  border 1px solid yellow
  margin 5px
  height 330px

.middle-sect
  margin 5px
  height 80px
  border 1px solid blue
